main {
  color: $midnightBlue;
  opacity: 0;

  -webkit-animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;
          animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;

  h3 {
    font-size: 43px;
    margin: 0;
    padding: 50px 20px 0 20px;
  }

  p {
    margin: 0;
    padding: 20px 20px 0 20px;
  }

  &#pain, &#dream, &#fix {
    ul {
      padding: 10px 20px 0 65px;
    }

    li {
      padding-top: 10px;
    }
  }

  &#pain {
    li {
      position: relative;

      &:before {
        background: $alizarian;
        border-radius: 13px;
        color: white;
        content: '?';
        display: block;
        font-weight: 900;
        height: 25px;
        left: -36px;
        line-height: 25px;
        position: absolute;
        top: 11px;
        text-align: center;
        width: 25px;
      }
    }
  }

  &#dream {
    li {
      position: relative;

      &:before {
        border: solid 13px $sunFlower;
        border-radius: 13px;
        content: '\00a0';
        display: block;
        height: 0;
        left: -36px;
        position: absolute;
        top: 11px;
        width: 0;
      }

      &:after {
        background-image: url(trophy.svg);
        content: '\00a0';
        display: block;
        height: 19px;
        left: -32px;
        position: absolute;
        top: 15px;
        width: 18px;
        z-index: 10;
      }
    }
  }

  &#fix {
    padding-bottom: 50px;

    li {
      position: relative;

      &:before {
        border: solid 13px $emerald;
        border-radius: 13px;
        content: '\00a0';
        display: block;
        height: 0;
        left: -36px;
        position: absolute;
        top: 11px;
        width: 0;
      }

      &:after {
        border-color: white;
        border-style: solid;
        border-width: 0 4px 4px 0;
        content: '\00a0';
        display: block;
        height: 14px;
        left: -28px;
        position: absolute;
        top: 16px;
        width: 9px;
        z-index: 10;

        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
      }
    }
  }

  &#teams {
    background-color: $ubudWinter;
    padding-bottom: 50px;

    svg {
      display: block;
      margin: 0 auto;
      margin-top: 50px;
    }

    .codefellows {
      margin-top: 40px;
      width: 404px;
    }

    .uw {
      width: 338px;
    }

    .freedomFromHunger {
      width: 243px;
    }

    p {
      text-align: center;
    }
  }

  &#testimonials {
    border-bottom: 5px solid $ubudWinter;
    padding-bottom: 50px;

    blockquote {
      font-weight: 300;
      margin: 0;
      padding: 20px 20px 0 20px;
      text-align: center;
    }

    cite {
      display: block;
      font-style: normal;
      font-weight: 400;
    }
  }

  &#callToAction {
    p {
      text-align: center;
    }

    .pricing {
      display: -webkit-flex;
      display: flex;
      padding: 10px 15px 0 15px;

      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;

      ul {
        margin: 10px 5px 0 5px;

        -webkit-flex-basis: 192px;
                flex-basis: 192px;

        -webkit-flex-grow: 1;
                flex-grow: 1;
      }

      li {
        height: 60px;
        line-height: 60px;
        text-align: center;
      }

      .title {
        background: $wetAsphalt;
        color: white;
      }

      .discount {
        background: $clouds;
      }
    }

    .cta {
      background-color: $belizeHole;
      border-radius: 4px;
      color: white;
      display: block;
      font-weight: 900;
      height: 53px;
      letter-spacing: 0.04em;
      line-height: 53px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      width: 220px;
    }
  }
}

.no-touch main#callToAction {
  .cta:hover {
    background-color: $peterRiver;
  }
}

@media screen and (max-device-width: 767px) {
  main {
    h3 {
      font-size: 5.61vw;
      padding: 6.52% 2.61% 0 2.61%;
    }
  }

  main#teams {
    .codefellows {
      width: 290px;
    }

    .uw {
      width: 243px;
    }

    .freedomFromHunger {
      width: 174px;
    }
  }
}
