#topNav {
  $height: 50px;

  background: $wetAsphalt;
  height: $height;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;

  -webkit-animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;
          animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;

  &.fixed {
    position: fixed;
  }

  ul {
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  li {
    height: $height;
    line-height: $height;
    width: 128px;
  }

  a {
    color: white;
    display: block;
    fill: white;
    font-size: 19px;
    font-weight: 900;
    height: 100%;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
  }

  svg {
    position: relative;
    top: 2px;
  }

  .active {
    background: $midnightBlue;
  }

  .cta {
    background: $belizeHole;
  }
}

.no-touch #topNav {
  li:hover a {
    background: white;
    color: $midnightBlue;
    fill: $midnightBlue;
  }
}
