@import "normalize";

$turquoise:     #1abc9c;
$emerald:       #2ecc71;
$peter-river:   #3498db;
$belize-hole:   #2980b9;
$wet-asphalt:   #34495e;
$midnight-blue: #2c3e50;
$sun-flower:    #f1c40f;
$alizarian:     #e74c3c;
$clouds:        #ecf0f1;
$ubud-winter:   #f6f8f8;

*, *:before, *:after {
          box-sizing: border-box;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}

html {
  font: 19px/1.6 "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
}

h1, h2, h3 {
  text-align: center;
  font-weight: 900;
  line-height: 1.2;

  /* Consider applying to all elements */
  text-rendering: optimizelegibility;
}

a {
  -webkit-transition: all 0.13s ease-out;
     -moz-transition: all 0.13s ease-out;
       -o-transition: all 0.13s ease-out;
          transition: all 0.13s ease-out;
}

ul {
  list-style: none;
}

@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*****************************************************************************/

@-webkit-keyframes progress {
  0%   { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progress {
  0%   { width: 0; }
  100% { width: 100%; }
}

@-o-keyframes progress {
  0%   { width: 0; }
  100% { width: 100%; }
}

@keyframes progress {
  0%   { width: 0; }
  100% { width: 100%; }
}

#progress {
  top: 0;
  height: 5px;
  z-index: 50;
  position: fixed;
  background: $wet-asphalt;

  -webkit-animation: progress 0.3s ease 0s 1 normal forwards;
     -moz-animation: progress 0.3s ease 0s 1 normal forwards;
       -o-animation: progress 0.3s ease 0s 1 normal forwards;
          animation: progress 0.3s ease 0s 1 normal forwards;
}

/*****************************************************************************/

nav {
  top: 0;
  width: 100%;
  height: 45px;
  opacity: 0;
  z-index: 100;
  position: fixed;
  background-color: $wet-asphalt;

  -webkit-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
     -moz-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
       -o-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
          animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
}

.lte-ie9 nav {
  opacity: 1;
}

nav section {
  margin: 0 auto;
  width: 768px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul#right {
  float: right;
}

nav li {
  float: left;
  width: 128px;
  height: 45px;
  line-height: 45px;
}

nav li#active {
  background-color: $midnight-blue;
}

nav a {
  color: white;
  height: 100%;
  display: block;
  text-align: center;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 0.04em;
}

.no-touch nav li:hover a {
  color: $midnight-blue;
  background-color: white;
}

nav a#cta-nav {
  background-color: $belize-hole;
}

.no-touch nav li:hover a#cta-nav {
  background-color: white;
}

.no-touch nav li#connect:hover ul#channels {
  display: inline-block;
  opacity: 1;

  -webkit-transition: all 0.13s ease-out;
     -moz-transition: all 0.13s ease-out;
       -o-transition: all 0.13s ease-out;
          transition: all 0.13s ease-out;
}

nav ul#channels {
  display: none;
  opacity: 0;
  // border-top: 1px solid $clouds;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
     -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
}

nav ul#channels li {
  width: 178px;

   //  border-left: 2px solid $clouds;
   // border-right: 2px solid $clouds;
  border-bottom: 1px solid $clouds;
}

nav ul#channels li:last-child {
  // border-bottom: 2px solid $clouds;
  border-bottom: none;
}

nav ul#channels a {
  font-size: 17px;
  text-align: left;
  padding-left: 15px;
  background-color: white;
}

.no-touch nav ul#channels li:hover a {
  padding-left: 25px;
}

nav ul#channels svg {
  top: 2px;
  position: relative;
  margin-right: 7px;
}

// newsletter

$newsletter-color: $turquoise;

nav a#newsletter {
  color: $newsletter-color
}

nav a#newsletter path {
  fill: $newsletter-color;
}

.no-touch nav ul#channels li:hover a#newsletter {
  color: white;
  background-color: $newsletter-color;
}

.no-touch nav ul#channels li:hover a#newsletter path {
  fill: white;
}

// twitter

$twitter-color: #55ACEE;

nav a#twitter {
  color: $twitter-color;
}

nav a#twitter path {
  fill: $twitter-color;
}

.no-touch nav ul#channels li:hover a#twitter {
  color: white;
  background-color: $twitter-color;
}

.no-touch nav ul#channels li:hover a#twitter path {
  fill: white;
}

// github

$github-color: #1A1A1A;

nav a#github {
  color: $github-color;
}

nav a#github path {
  fill: $github-color;
}

.no-touch nav ul#channels li:hover a#github {
  color: white;
  background-color: $github-color;
}

.no-touch nav ul#channels li:hover a#github path {
  fill: white;
}

// linkedin

$linkedin-color: #0E76A8;

nav a#linkedin {
  color: $linkedin-color;
}

nav a#linkedin path {
  fill: $linkedin-color;
}

.no-touch nav ul#channels li:hover a#linkedin {
  color: white;
  background-color: $linkedin-color;
}

.no-touch nav ul#channels li:hover a#linkedin path {
  fill: white;
}

/*****************************************************************************/

header {
  color: white;
  opacity: 0;
  margin-top: 45px;
  padding-bottom: 75px;
  background-color: $midnight-blue;

  -webkit-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
     -moz-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
       -o-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
          animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
}

.lte-ie9 header {
  opacity: 1;
}

header h1 {
  margin: 0;
  font-size: 112px;
  padding-top: 65px;
}

header h2 {
  margin: 0;
  font-size: 55px;
  padding-top: 39px;
}

header h1:before {
  width: 133px;
  height: 134px;
  content: "\00a0";
  display: inline-block;
  position: relative;
  margin-right: 25px;
  background-size: cover;
  background-image: url(../images/ryansobol-logo.svg);
}

/*****************************************************************************/

main {
  color: $midnight-blue;
  opacity: 0;
  padding-bottom: 50px;

  -webkit-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
     -moz-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
       -o-animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
          animation: fade-in 0.2s ease-out 0.4s 1 normal forwards;
}

.lte-ie9 main {
  opacity: 1;
}

main#teams {
  background-color: $ubud-winter;
}

main#testimonials {
  border-bottom: 5px solid $ubud-winter;
}

main#call-to-action {
  padding-bottom: 0;
}

main section {
  margin: 0 auto;
  width: 768px;
}

main h3 {
  margin: 0;
  font-size: 46px;
  padding: 50px 20px 10px 20px;
}

main p {
  margin: 0;
  padding: 20px 20px 0 20px;
}

main ul {
  margin: 0;
  padding: 10px 20px 0 65px;
}

main li {
  padding-top: 10px;
}

main ul#questions li, ul#trophies li, ul#checks li {
  position: relative;
}

main ul#questions li:before {
  top: 11px;
  left: -36px;
  width: 25px;
  height: 25px;
  color: white;
  content: "?";
  display: block;
  position: absolute;
  background: $alizarian;
  text-align: center;
  font-weight: 900;
  line-height: 25px;

          border-radius: 13px;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
      -ms-border-radius: 13px;
}

main ul#trophies li:before {
  top: 11px;
  left: -36px;
  width: 0;
  height: 0;
  border: solid 13px $sun-flower;
  content: "\00a0";
  display: block;
  position: absolute;

          border-radius: 13px;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
      -ms-border-radius: 13px;
}

main ul#trophies li:after {
  top: 15px;
  left: -32px;
  width: 18px;
  height: 19px;
  content: "\00a0";
  display: block;
  z-index: 10;
  position: absolute;
  background-image: url(../images/trophy.svg);
}

main ul#checks li:before {
  top: 11px;
  left: -36px;
  width: 0;
  height: 0;
  border: solid 13px $emerald;
  content: "\00a0";
  display: block;
  position: absolute;

          border-radius: 13px;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
      -ms-border-radius: 13px;
}

main ul#checks li:after {
  top: 16px;
  left: -28px;
  width: 9px;
  height: 14px;
  border: solid #fff;
  content: "\00a0";
  display: block;
  z-index: 10;
  position: absolute;
  border-width: 0 4px 4px 0;

          transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
}

main blockquote {
  margin: 0;
  padding: 30px 20px 0 20px;
  text-align: center;
  font-weight: 300;
}

main cite {
  display: block;
  font-style: normal;
  font-weight: 400;
}

main svg {
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}

main svg#code-fellows {
  margin-top: 40px;
}

main h5 {
  margin: 0;
  padding: 20px 20px 0 20px;
  font-size: 19px;
  text-align: center;
  font-weight: 400;
}

main h4 {
  margin: 0;
  text-align: center;
  padding-top: 20px;
  font-weight: 400;
}

main #pricing-table {
  padding: 30px 15px 0 15px;
}

main #pricing-table:before, #pricing-table:after {
  content: " ";
  display: table;
}

main #pricing-table:after {
  clear: both;
}

main ul.column {
  float: left;
  width: 236px;
  margin: 0 5px;
  padding: 0;
}

main ul.column li {
  height: 60px;
  padding: 0;
  text-align: center;
  line-height: 60px;
}

main ul.column li:nth-child(odd) {
  background-color: $clouds;
}

main li.title {
  font-weight: 900;
  letter-spacing: 0.01em;
}

main li.feature {
  font-weight: 300;
}

main a#cta-button {
  color: white;
  width: 220px;
  height: 53px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-weight: 900;
  line-height: 53px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  text-decoration: none;
  background-color: $belize-hole;
}

.no-touch main a#cta-button:hover {
  background-color: $peter-river;
}

main h6 {
  margin: 0;
  padding: 35px 0;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

main h6 a {
  color: $midnight-blue;
}

.no-touch main h6 a:hover {
  color: $belize-hole;
}
