#bottomNav {
  background: $nephritis;
  bottom: 0;
  opacity: 0;
  position: fixed;
  width: 100%;

  -webkit-animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;
          animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;

  ul {
    display: flex;
  }

  li {
    flex-grow: 1;
  }

  a {
    $height: 60px;

    color: white;
    display: block;
    fill: white;
    font-size: 17px;
    font-weight: 900;
    height: $height;
    line-height: $height;
    letter-spacing: 0.04em;
    text-align: center;
    text-decoration: none;
  }

  svg {
    position: relative;
    top: 2px;
  }
}

.no-touch #bottomNav {
  li:hover .twitter {
    background: white;
    color: $twitter;
    fill: $twitter;
  }

  li:hover .github {
    background: white;
    color: $github;
    fill: $github;
  }

  li:hover .linkedin {
    background: white;
    color: $linkedin;
    fill: $linkedin;
  }
}
