$emerald:      #2ECC71;
$nephritis:    #27AE60;
$peterRiver:   #3498DB;
$belizeHole:   #2980B9;
$wetAsphalt:   #34495E;
$midnightBlue: #2C3E50;
$sunFlower:    #F1C40F;
$alizarian:    #E74C3C;
$clouds:       #ECF0F1;
$ubudWinter:   #F6F8F8;
$twitter:      #55ACEE;
$github:       #1A1A1A;
$linkedin:     #0E76A8;
