#license {
  h6 {
    margin: 0;
    padding: 35px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 300;
  }

  a {
    color: $midnightBlue;
  }
}

.no-touch #license {
  a:hover {
    color: $belizeHole;
  }
}
