main {
  color: $midnightBlue;
  padding-bottom: 50px;
  opacity: 0;

  -webkit-animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;
          animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;

  h3 {
    font-size: 38px;
    margin: 0;
    padding: 50px 20px 10px 20px;
  }

  p {
    margin: 0;
    padding: 20px 20px 0 20px;
  }

  ul {
    margin: 0;
    padding: 10px 20px 0 65px;
  }

  li {
    padding-top: 10px;
  }

  ul#questions li, ul#trophies li, ul#checks li {
    position: relative;
  }

  ul#questions li:before {
    background: $alizarian;
    border-radius: 13px;
    color: white;
    content: '?';
    display: block;
    font-weight: 900;
    height: 25px;
    left: -36px;
    line-height: 25px;
    position: absolute;
    top: 11px;
    text-align: center;
    width: 25px;
  }

  ul#trophies li:before {
    border: solid 13px $sunFlower;
    border-radius: 13px;
    content: '\00a0';
    display: block;
    height: 0;
    left: -36px;
    position: absolute;
    top: 11px;
    width: 0;
  }

  ul#trophies li:after {
    background-image: url(../images/trophy.svg);
    content: '\00a0';
    display: block;
    height: 19px;
    left: -32px;
    position: absolute;
    top: 15px;
    width: 18px;
    z-index: 10;
  }

  ul#checks li:before {
    border: solid 13px $emerald;
    border-radius: 13px;
    content: '\00a0';
    display: block;
    height: 0;
    left: -36px;
    position: absolute;
    top: 11px;
    width: 0;
  }

  ul#checks li:after {
    border-color: white;
    border-style: solid;
    border-width: 0 4px 4px 0;
    content: '\00a0';
    display: block;
    height: 14px;
    left: -28px;
    position: absolute;
    top: 16px;
    width: 9px;
    z-index: 10;

    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  &#teams {
    background-color: $ubudWinter;

    svg {
      display: block;
      margin: 0 auto;
      margin-top: 60px;
    }

    .codefellows {
      margin-top: 40px;
      width: 404px;
    }

    .uw {
      width: 338px;
    }

    .freedomFromHunger {
      width: 243px;
    }

    h5 {
      font-size: 19px;
      font-weight: 400;
      margin: 0;
      padding: 20px 20px 0 20px;
      text-align: center;
    }
  }

  &#testimonials {
    border-bottom: 5px solid $ubudWinter;

    blockquote {
      font-weight: 300;
      margin: 0;
      padding: 30px 20px 0 20px;
      text-align: center;
    }

    cite {
      display: block;
      font-style: normal;
      font-weight: 400;
    }
  }

  &#callToAction {
    padding-bottom: 0;

    h4 {
      font-weight: 400;
      margin: 0;
      padding-top: 20px;
      text-align: center;
    }

    .pricing {
      display: flex;
      flex-wrap: wrap;
      padding: 20px 15px 0 15px;

      ul {
        flex-basis: 192px;
        flex-grow: 1;
        margin: 10px 5px 0 5px;
        padding: 0;
      }

      li {
        height: 60px;
        line-height: 60px;
        padding: 0;
        text-align: center;
      }

      .title {
        background: $wetAsphalt;
        color: white;
      }

      .discount {
        background: $clouds;
      }
    }

    .ctaButton {
      background-color: $belizeHole;
      border-radius: 4px;
      color: white;
      display: block;
      font-weight: 900;
      height: 53px;
      letter-spacing: 0.04em;
      line-height: 53px;
      margin: 0 auto;
      text-align: center;
      text-decoration: none;
      width: 220px;
    }
  }
}

.no-touch main#callToAction {
  .ctaButton:hover {
    background-color: $peterRiver;
  }
}

@media screen and (max-device-width: 767px) {
  main#teams {
    .codefellows {
      width: 290px;
    }

    .uw {
      width: 243px;
    }

    .freedomFromHunger {
      width: 174px;
    }
  }
}
