#topNav {
  top: 0;
  width: 100%;
  height: 45px;
  opacity: 0;
  z-index: 100;
  position: fixed;
  background-color: $wetAsphalt;

  -webkit-animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;
          animation: fadeIn 0.2s ease-out 0.4s 1 normal forwards;

  ul#right {
    float: right;
  }

  li {
    float: left;
    width: 128px;
    height: 45px;
    line-height: 45px;
  }

  li#active {
    background-color: $midnightBlue;
  }

  a {
    color: white;
    height: 100%;
    display: block;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.04em;
  }

  a#cta-nav {
    background-color: $belizeHole;
  }

  ul#channels {
    display: none;
    opacity: 0;
    // border-top: 1px solid $clouds;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
  }

  ul#channels li {
    width: 178px;

     //  border-left: 2px solid $clouds;
     // border-right: 2px solid $clouds;
    border-bottom: 1px solid $clouds;
  }

  ul#channels li:last-child {
    // border-bottom: 2px solid $clouds;
    border-bottom: none;
  }

  ul#channels a {
    font-size: 17px;
    text-align: left;
    padding-left: 15px;
    background-color: white;
  }

  ul#channels svg {
    top: 2px;
    position: relative;
    margin-right: 7px;
  }

  // newsletter

  a#newsletter {
    color: $newsletter
  }

  a#newsletter path {
    fill: $newsletter;
  }

  // twitter

  a#twitter {
    color: $twitter;
  }

  a#twitter path {
    fill: $twitter;
  }

  // github

  a#github {
    color: $github;
  }

  a#github path {
    fill: $github;
  }

  // linkedin

  a#linkedin {
    color: $linkedin;
  }

  a#linkedin path {
    fill: $linkedin;
  }
}

.no-touch #topNav {
  li:hover a {
    color: $midnightBlue;
    background-color: white;
  }

  li:hover a#cta-nav {
    background-color: white;
  }

  li#connect:hover ul#channels {
    display: inline-block;
    opacity: 1;
    transition: all 0.13s ease-out;
  }

  ul#channels li:hover a {
    padding-left: 25px;
  }

  ul#channels li:hover a#newsletter {
    color: white;
    background-color: $newsletter;
  }

  ul#channels li:hover a#newsletter path {
    fill: white;
  }

  ul#channels li:hover a#twitter {
    color: white;
    background-color: $twitter;
  }

  ul#channels li:hover a#twitter path {
    fill: white;
  }

  ul#channels li:hover a#github {
    color: white;
    background-color: $github;
  }

  ul#channels li:hover a#github path {
    fill: white;
  }

  ul#channels li:hover a#linkedin {
    color: white;
    background-color: $linkedin;
  }

  ul#channels li:hover a#linkedin path {
    fill: white;
  }
}
